* {
  font-family: "Inter", sans-serif;
  /* height: max-content; */
  /* overflow: hidden; */
}
.container {
  display: flex;
}

.background {
  background-image: linear-gradient(
      rgba(35, 37, 82, 0.7),
      rgba(35, 37, 82, 0.7)
    ),
    url("../../../../src/assets/general/AuthBackground.webp");
  max-width: fit-content;
  width: 49%;
  height: 100vh;
  background-size: auto;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
}

.text {
  color: var(--neutral-clr-white);
  text-align: center;
  width: 55%;
  margin-top: 1.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2.25rem;
}

.formGroup {
  width: 50%;
}

.navbar {
  width: 100%;
  height: 90%;
  margin-top: 3rem;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
}

.navbar nav {
  display: flex;
  height: 3rem;
  width: 100%;
  color: var(--neutral-clr-drkst-grey);
  font-weight: 500;
}

.navbar nav a {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-bottom: 4px solid var(--neutral-clr-lt-grey);
}

.navItem {
  text-align: center;
  width: 50%;
}
.link {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: var(--neutral-clr-deep-grey);
}
/** mobile view **/
@media (max-width: 768px) {
  .background{
    background-image: none;
    display: none;
  }

  .container {
    display: block;
  }

  .formGroup {
    width: 100%;
  }

  .navbar {
    margin-top: 0;
  }
}