.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--Inter);
  overflow: hidden;
}

.background {
  width: 50%;
  height: 100%;
  position: relative;
  background-size: cover;
}

.backgroundOverlay {
  position: absolute;
  font-size: 18px;
  background: var(--secondary-clr-drkst-blue);
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 50%;
  color: var(--neutral-clr-white);
  text-align: center;
}

.logo img {
  width: 80%;
  margin-bottom: 20px;
}

.text {
  line-height: 30px;
}

.formGroup {
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.navbar nav {
  display: flex;
  height: 3rem;
  width: 100%;
  color: var(--neutral-clr-drkst-grey);
  font-weight: 500;
}

.navbar nav a {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-bottom: 4px solid var(--neutral-clr-lt-grey);
}

.navItem {
  text-align: center;
  width: 50%;
}
.link {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  line-height: 2.5rem;
  font-weight: 700;
  color: var(--neutral-clr-deep-grey);
}
