.container {
  width: 100%;
  height: 100%;
  padding: 0 10%;
}

.heading {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
  margin-top: 1.5rem;
}

.formGroup {
  margin: 5% 10%;
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: var(--primary-clr-drkst-brown);
}

.formGroup input,
select {
  height: 3.5rem;
  border: 1px solid var(--neutral-clr-grey-2);
  box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 0.25rem;
  padding: 0.625rem 1rem;
  margin-bottom: 1.25rem;
}

.continue {
  align-items: center;
  padding: 0.5rem;
  background: var(--secondary-clr-lter-blue);
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.025rem;
  text-transform: capitalize;
  color: var(--neutral-clr-white);
  margin-top: 2.5rem;
  cursor: pointer;
}

.setPassword {
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
}

.setPassword label {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: var(--primary-clr-drkst-brown);
}

.setPassword input,
select {
  height: 3.5rem;
  border: 1px solid var(--neutral-clr-grey-2);
  box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  border-radius: 0.25rem;
  padding: 0.625rem 1rem;
  margin-bottom: 1.25rem;
}

.create {
  align-items: center;
  padding: 0.5rem;
  background: var(--secondary-clr-lter-blue);
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.025rem;
  text-transform: capitalize;
  color: var(--neutral-clr-white);
  margin-top: 2.5rem;
  cursor: pointer;
}
