.container {
  background: white;
  width: 16rem;
  /* grid-column: 1/2; */
  height: 100%;
  overflow-y: scroll;
  font-family: var(--Inter);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 3rem;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
}

.img {
  width: 8rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.nav .navGroup {
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: 1rem;
}

.navGroup div {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding-left: 1.3rem;
}

.navGroup h2 {
  font-size: 12px;
  font-weight: 600;
  color: var(--primary-clr-drker-brown);
}

.link {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  font-size: 15px;
  font-weight: 400;
  color: var(--neutral-clr-grey-1);
}

.link .icon {
  color: inherit;
}

.logout {
  color: #d10909;
  font-size: 15px;
  outline: none;
  border: none;
  background: none;
  padding: none;
  cursor: pointer;
  font-weight: 600;
  align-self: flex-start;
}
.accountLinks{
  display: none !important;
}

@media (max-width: 1000px) {
  .container {
    width: 14rem;
  }
}

/* responsive and modal sidebar */
@media (max-width: 950px) {
  .container {
    width: fit-content;
    height: 100vh;
    box-shadow: 4px 19px 12px rgba(86, 86, 86, 0.15);
    padding: 1rem;
    gap: 1rem;
    position: fixed;
    top: 5rem;
    left: 0;
    z-index: 105;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .container.show {
    transform: translateX(0);
  }

  .img {
    display: none;
  }

  .logout {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .nav {
    gap: 0.5rem;
  }

  .nav .navGroup {
    gap: 0.5rem;
  }

  .navGroup div {
    gap: 0.5rem;
    padding-left: 0;
  }

  .navGroup h2 {
    font-size: 10px;
  }

  .link {
    font-size: 12px;
  }

  .link .icon {
    width: 1rem;
  }
  .accountLinks {
    display: block !important;
  }
}

@media (max-width: 500px) {
  .accountLinks {
    display: inline-flex !important;
  }
}
