.container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 2rem;
  font-family: var(--Inter);
  position: relative;
}

.sectionOne {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 70%;
  /* background: #000; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.h1 {
  color: var(--neutral-clr-deep-grey);
  font-size: 20px;
}

.p {
  color: var(--neutral-clr-drk-grey);
  font-size: 14px;
}

.questionCta {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
  width: fit-content;
  background-color: var(--secondary-clr-lter-blue);
  color: var(--neutral-clr-white);
  font-weight: 600;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

.questionCta:hover {
  background-color: var(--secondary-clr-ltest-blue);
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  font-family: var(--Poppins);
  margin-top: 1rem;
}

.previousBtn,
.nextBtn {
  border-radius: 4px;
  padding: 0.5rem 1.3rem;
  width: fit-content;
  border: 2px solid #e9ebec;
  border-radius: 4px;
  background-color: var(--neutral-clr-white);
  color: #878a99;
  font-family: var(--Poppins);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.previousBtn:hover,
.nextBtn:hover {
  background-color: var(--secondary-clr-lter-blue);
  color: var(--neutral-clr-white);
  border: 2px solid var(--secondary-clr-lter-blue);
}

.active {
  background-color: var(--secondary-clr-lter-blue);
  color: var(--neutral-clr-white);
  border: 2px solid var(--secondary-clr-lter-blue);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-family: var(--Poppins);
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.pageBtn {
  border-radius: 4px;
  padding: 0.5rem 1rem;
  width: fit-content;
  border: 2px solid #e9ebec;
  border-radius: 4px;
  background-color: var(--neutral-clr-white);
  color: #878a99;
  font-family: var(--Poppins);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.pageBtn:hover {
  background-color: var(--secondary-clr-lter-blue);
  color: var(--neutral-clr-white);
  border: 2px solid var(--secondary-clr-lter-blue);
}

.pageCount {
  color: #bfbfbf;
  font-size: 14px;
  border: 2px solid #e9ebec;
  border-radius: 4px;
  padding: 0.5rem 0.7rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--secondary-clr-lter-blue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1300px) {
  .container {
    flex-direction: column;
  }
  .sectionOne {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .questionCta {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 750px) {
  .container {
    padding: 1rem;
  }
  .sectionOne {
    gap: 2rem;
  }
  .title {
    width: 60%;
  }
  .pagination {
    justify-content: center;
  }
  .previousBtn,
  .nextBtn {
    padding: 0.5rem 1rem;
  }
  .pageBtn {
    padding: 0.5rem 0.7rem;
  }
  .pageCount {
    padding: 0.5rem 0.7rem;
  }
}

@media (max-width: 400px) {
  .questionCta {
    font-size: 0.7rem;
  }
}