.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0rem;
  font-family: var(--Inter);
  gap: 1rem;
  width: 36rem;
  border-bottom: 1px solid var(--neutral-clr-grey-2);
}

.header {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.iconAvatar,
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: var(--neutral-clr-deep-grey);
}

.timePosted {
  font-size: 0.8rem;
  color: var(--neutral-clr-drk-grey);
}

.body {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: var(--neutral-clr-deep-grey);
  overflow: hidden;
}

.media {
  width: 100%;
  height: auto;
  max-height: 20rem;
}

.postedMedia {
  object-fit: cover;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  cursor: pointer;
}

.divider {
  width: 1px;
  background-color: var(--neutral-clr-drk-grey);
}

.left {
  display: flex;
  gap: 0.8rem;
}

.like,
.comment {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: var(--neutral-clr-drk-grey);
  font-weight: 500;
}

.likeAnimation {
  animation: like 1s;
}

@keyframes like {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.highlight {
  background-color: var(--neutral-clr-grey-2);
  border-radius: 0.5rem;
  padding: 0.5rem;
  animation: highlights 10s;
}

@keyframes highlights {
  0% {
    background-color: var(--neutral-clr-grey-2);
  }
  100% {
    background-color: var(--neutral-clr-white);
  }
}

@media (max-width: 700px) {
  .container {
    width: 100%;
  }
}
