/* container */
.bookmarkContainer {
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 2rem;
}

.bookmarkContainer h2 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 3rem;
  font-family: var(--Inter);
  margin-bottom: 1.75rem;
  color: var(--neutral-clr-drkst-grey);
}

/* Navbar */
.bookmarkNav {
  display: flex;
  gap: 1.5rem;
}

.select {
  position: relative;
  display: inline-block;
}

.bookButton {
  padding: 0.438rem;
  font-weight: 500;
  line-height: 1rem;
  font-size: 0.75rem;
  display: flex;
  font-family: var(--Poppins);
  color: var(--neutral-clr-white);
  background: var(--secondary-clr-deep-blue);
  border-radius: 0.205rem;
  border: none;
  cursor: pointer;
}

.bookButton span {
  margin-top: 0.1rem;
}

.btnMenu {
  min-width: 9.375rem;
  position: absolute;
  z-index: 1;
  background: #fafafa;
  font-family: var(--Poppins);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-top: 0.25rem;
}

.btnMenu a {
  padding: 0.563rem 0.563rem 0.563rem 0.5rem;
  color: #565883;
  text-decoration: none;
  display: block;
  border: 1px solid #c7c3ed;
}

.lastMenu {
  border-radius: 0 0 0.688rem 0;
}

.search input {
  background: var(--neutral-clr-white);
  border: 0.051rem solid #c1c1c1;
  padding: 0.41rem 0 0.487rem 0.813rem;
  gap: 4.256rem;
  box-shadow: 0 0.125rem 0.75rem rgba(86, 86, 86, 0.15);
  border-radius: 0.25rem;
  width: 38rem;
  outline: none;
  font-weight: 400;
  font-size: 0.667rem;
  line-height: 1rem;
  color: #a7a7a7;
}

.search input::placeholder {
  font-weight: 400;
  font-size: 0.667rem;
  line-height: 1rem;
  color: #a7a7a7;
  font-family: var(--Poppins);
}

.filter {
  display: flex;
  gap: 0.5rem;
}

.filter .allButton {
  padding: 0.438rem;
  text-align: center;
  width: 2.5rem;
  background: #efefef;
  color: #a7a7a7;
  font-family: var(--Poppins);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  border: 1px solid var(--neutral-clr-grey-1);
  border-radius: 0.205rem;
}

.settings {
  padding: 0.438rem;
  background: var(--neutral-clr-white);
  border: 1px solid var(--secondary-clr-deep-blue);
  border-radius: 0.205rem;
  font-family: var(--Poppins);
  color: var(--secondary-clr-deep-blue);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
}

/* Table */
.bookmarkMain {
  overflow-x: auto;
  /* display: grid; */
}

.table {
  width: max-content;
  /* border-collapse: collapse;    */
}



.bookmarkHeader {
  display: flex;
  gap: 0.75rem;
  margin-top: 0.5rem 0;
  width: 100%;
}

.bookmarkHeader th {
  font-family: var(--Poppins);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--secondary-clr-deep-blue);
  height: 1.9rem;
  display: flex;
  align-items: center;
}

.tableData {
  border: 1px solid #f3f3f9;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.tableData tr {
  width: 100%;
  display: flex;
  cursor: pointer;
}


.tableData td {
  font-family: var(--Poppins);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--secondary-clr-deep-blue);
  height: 3.5rem;
  /* padding-top: 0.5rem; */
}

.bookmarkHeader .checkbox {
  width: 6.9rem;
  max-width: 5.5rem;
}

.tableData .checkbox {
  width: 6.25rem;
  max-width: 6.25rem;
  padding-top: 0 !important;
  display: flex;
  justify-content: center;
}

.topicLink {
  text-decoration: none;
  color: inherit;
}

.tableData .topic {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 11.75rem;
  max-width: 12rem;
}


.bookmarkHeader .topic {
  width: 11.25rem;
  max-width: 11.5rem;
}

.bookmarkHeader .postedBy {
  width: 8rem;
  max-width: 8rem;
}
.tableData .postedBy {
  width: 8.75rem;
  max-width: 8.75rem;
}

.bookmarkHeader .datePosted {
  width: 8.5rem;
  max-width: 8.5rem;
}

.tableData .datePosted {
  width: 9.5rem;
  max-width: 9.5rem;
} 

.timePosted {
  font-family: var(--Poppins);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  color: var(--neutral-clr-drk-grey);
}

/* .bookmarkHeader .comments {
  width: 6.75rem;
  max-width: 6.75rem;
}

.tableData .comments {
  width: 7.5rem;
  max-width: 7.5rem;
}
.bookmarkHeader .likes {
  width: 5.7rem;
  max-width: 5.9rem;
}

.tableData .likes {
  width: 6.25rem;
  max-width: 6.25rem;
}
 */

 
.bookmarkHeader .tags {
  width: 3.8rem;
  max-width: 4rem;
}

.tableData .tags {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 4.5rem;
  max-width: 4.5rem;
}
/* .status {
  width: 3.5rem;
  max-width: 3.5rem;
  text-align: right;
}

.statSpan {
  position: relative;
  left: 55%;
  top: 20%;
} */

/* Accordion section  */
.tableBody {
  background: #f7f7f7;
  font-family: "Segoe UI", sans-serif;
  transition: all 0.2s ease-in-out;
}

.bodyHeader {
  padding: 0.875rem 1.438rem 0.875rem 4.125rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.bodyHeaderLeft {
  color: #282829;
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
}

.posted {
  font-size: 0.715rem;
  line-height: 1.125rem;
  color: #939598;
  margin-bottom: 0.5rem;
}
.poster {
  font-weight: 700;
  margin-right: 0.813rem;
}

.dated {
  font-weight: 400;
}

.checkbox .active {
  display: none;
}

.tableData .active {
  display: none;
}
.bottomIcons {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.buttonContainer {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.188rem;
  color: #636466;
}

.buttonContainer .numbers {
  font-size: 0.688rem;
  line-height: 1rem;
}

.bodyButton {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: #636466;
  cursor: pointer;
}

.accordionLink {
  text-decoration: none;
  color: inherit;
}
.bodyButton:hover {
  color: #2e69ff;
}

.bodyIcons {
  color: inherit;
}

.shareContainer {
  display: flex;
  gap: 0.25rem;
}

/* Pagination */
.pagination {
  border: 1px solid #f3f3f9;
  height: 3.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--Poppins);
  margin-top: 1rem;
  padding-right: 0.75rem;
}

.previousBtn,
.nextBtn {
  padding: 0.5rem 1.3rem;
  width: fit-content;
  border: 2px solid #e9ebec;
  border-radius: 0.25rem;
  background-color: var(--neutral-clr-white);
  color: #878a99;
  font-family: var(--Poppins);
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 1.25rem;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.previousBtn:hover,
.nextBtn:hover {
  background-color: var(--secondary-clr-deep-blue);
  color: var(--neutral-clr-white);
  border: 2px solid var(--secondary-clr-deep-blue);
}

.btnActive {
  background-color: var(--secondary-clr-deep-blue);
  color: var(--neutral-clr-white);
  border: 2px solid #405189;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-family: var(--Poppins);
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.25rem;
  cursor: pointer;
  outline: none;
}

.btnActive:hover {
  background-color: #405189;
}

.pageBtn {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  border: 2px solid #e9ebec;
  background-color: var(--neutral-clr-white);
  color: #878a99;
  font-family: var(--Poppins);
  font-weight: 600;
  font-weight: 500;
  font-size: 0.813rem;
  line-height: 1.25rem;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.pageBtn:hover {
  background-color: #405189;
  color: var(--neutral-clr-white);
  border: 2px solid #405189;
}

.pageCount {
  color: #bfbfbf;
  font-size: 0.875rem;
  border: 2px solid #e9ebec;
  border-radius: 0.25rem;
  padding: 0.5rem 0.7rem;
}

/* Media Query */

@media (max-width: 1330px) {
  .search input {
    width: 32rem;
  }

  /* .bookmarkMain {
    overflow-x: initial;
    white-space: normal;
  
  } */
  .bookmarkHeader .checkbox {
    width: 2.8rem;
    max-width: 2.8rem;
  }
  .tableData .checkbox {
    width: 3.5rem;
    max-width: 3.5rem;
  }

  /* .tableData .topic {
    width: 11.5rem;
    max-width: 11.5rem;
  }

  .bookmarkHeader .topic {
    width: 11rem;
    max-width: 11rem;
  }

  .bookmarkHeader .datePosted {
    width: 8.8rem;
    max-width: 8.8rem;
  }

  .bookmarkHeader .comments {
    width: 5rem;
    max-width: 5rem;
  }

  .tableData .comments {
    width: 5.5rem;
    max-width: 5.5rem;
  }

  .bookmarkHeader .likes {
    width: 3.25rem;
    max-width: 3.25rem;
  }

  .tableData .likes {
    width: 4rem;
    max-width: 4rem;
  }

  .bookmarkHeader .tags {
    width: 4.5rem;
    max-width: 4.5rem;
  }

  .tableData .tags {
    width: 5rem;
    max-width: 5rem;
  } */
}

@media (max-width: 1236px) {
  .search input {
    width: 28rem;
  }
  .timePosted {
    font-size: 0.7rem;
  }
  .bookmarkHeader th {
    font-size: 0.7rem;
  }

  .tableData td {
    font-size: 0.75rem;
  }

  /* .tableData .topic {
    width: 10rem;
    max-width: 10rem;
  }

  .bookmarkHeader .topic {
    width: 9.5rem;
    max-width: 9.5rem;
  }

  .bookmarkHeader .postedBy {
    width: 6.5rem;
    max-width: 6.5rem;
  }

  .tableData .postedBy {
    width: 7.25rem;
    max-width: 7.25rem;
  }

  .bookmarkHeader .datePosted {
    width: 7.75rem;
    max-width: 7.75rem;
  }

  .tableData .datePosted {
    width: 8.5rem;
    max-width: 8.5rem;
  } */
}

@media (max-width: 1100px) {
  .search input {
    width: 22.5rem;
  }
  .tableData td {
    font-size: 0.7rem;
  }

  /* .bookmarkHeader .topic {
    width: 8.5rem;
    max-width: 8.5rem;
  }

  .tableData .topic {
    width: 9rem;
    max-width: 9rem;
  }

  .bookmarkHeader .postedBy {
    width: 5.75rem;
    max-width: 5.75rem;
  }

  .tableData .postedBy {
    width: 6.5rem;
    max-width: 6.5rem;
  }

  .bookmarkHeader .datePosted {
    width: 6rem;
    max-width: 6rem;
  }

  .tableData .datePosted {
    width: 6.7rem;
    max-width: 6.7rem;
  }

  .bookmarkHeader .comments {
    width: 4.5rem;
    max-width: 4.5rem;
  }

  .tableData .comments {
    width: 5rem;
    max-width: 5rem;
  }

  .bookmarkHeader .tags {
    width: 3.15rem;
    max-width: 3.15rem;
  }

  .tableData .tags {
    width: 3.75rem;
    max-width: 3.75rem;
  } */

  .timePosted {
    font-size: 0.5rem;
  }
  .previousBtn,
  .nextBtn {
    padding: 0.5rem 1rem;
  }
  .pageBtn {
    padding: 0.5rem 0.7rem;
  }
  .pageCount {
    padding: 0.5rem 0.7rem;
  }
}

@media (max-width: 1030px) {
  .bookmarkContainer {
    padding: 0.5rem;
    justify-content: center;
  }

  .bookmarkContainer h2 {
    font-weight: 450;
    padding-right: 1rem;
  }

  .bookButton {
    font-size: 0.65rem;
  }

  .tableData td {
    font-size: 0.7rem;
    font-weight: 450;
    padding-top: 0.2rem;
  }

  .pagination {
    justify-content: center;
    height: 3rem;
  }
}
@media (max-width: 1015px) and (min-width: 950px) {
  .bookmarkContainer {
    padding: 0.2rem;
    justify-content: center;
  }
}

@media (max-width: 720) {
  .bookmarkContainer {
    width: 100%;
    padding: 0%;
  }

  /*.bookmarkHeader .topic{
  width: 3.5rem;
  max-width:3.5rem;
}
.bookmarkHeader .postedBy {
  width: 3.75rem;
  max-width: 3.75rem;}

.bookmarkHeader .datePosted {
  width: 3rem;
  max-width: 3rem; 
}

.status {
  width: 2.5rem;
  max-width: 2.5rem;
  text-align: center;
  padding-right: 2rem;
}*/
}
