.registerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.registerHeading{
    font-weight: 600;
    font-size: 2rem;
    line-height: 64px;
    padding: 1.5rem 0;
}
.registerForm{
    width: 100%;
}
.registerForm form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}
.registerForm form input, select{
    font-weight: 400;
    width: 100%;
    height: 2.5rem;
    border: 1px solid var(--neutral-clr-grey-2);
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
}
.registerForm input:focus{
    border-color: var(--primary-clr);
    outline: none;
}
.registerForm form label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    color: #55524F;
    margin-bottom: 5px;
}
.submit{
    background: #6A6FF5;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}