.registerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10%;
}
.registerHeading{
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
}
.registerForm{
    width: 100%;
}
.registerForm form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    width: 100%;
    margin-top: 20px;
}
.registerForm form input, select{
    width: 100%;
    height: 50px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 10px 12px 10px 16px;
    margin-bottom: 20px;
}
.registerForm form label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #55524F;
    margin-bottom: 5px;
}
.submit{
    background: #6A6FF5;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}