.main-footer {
    width: 100%;    
    height: 380px;
    background-color: var(--secondary-clr-deep-blue);
    padding: 121px;
    color: white;
    display: flex;
    font-size: 14px;
}

.main-footer>div:first-child {
    height: 137px;
    width: 220px;
    margin-right: 170px;
}

.main-footer img {
    width: 110px;
}

.sm-container {
    display: flex;
    margin: 10px 0 20px;
    justify-content: space-between;
    align-items: center;
}

.sm-link-container {
    width: 31px;
    height: 31px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-link-container svg {
    color: #001444;
}

.main-footer-list{
    margin-right: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-footer-list h3 {
    font-size: 14px;
    font-weight: bold;
}

