.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--secondary-clr-drkst-blue);
    padding: 10px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--InterThin);
    z-index: 100;
}


.brand-logo img {
    width: 120px;
    /* filter: invert(100%)  */
}

.nav-paths {
    display: flex;
    align-items: center;
}


.nav-paths a {
    text-decoration: none;
    color: var(--neutral-clr-grey-2);
    padding: 0 20px;
}

.nav-paths a:hover {
    color: white;
}

.get-started-btn {
    padding: 14px 40px;
    color: #fff;
    background-color: var(--secondary-clr-lt-blue);
    border: none;
    outline: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    font-family: inherit;
    transition: 0.35s ease;
}

.register-options {
    border-radius: 10px;
    position: fixed;
    display: none;
    background-color: var(--neutral-clr-white);
}

.register-options ul {
    padding: 0.5rem 1rem;
}

.register-options li {
    list-style: none;
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid var(--neutral-clr-drk-grey);
}

.register-options a {
    color: var(--neutral-clr-drker-grey);
    padding: 0;
}

.register-options a:hover {
    color: var(--neutral-clr-drk-grey);
}

.get-started-btn:hover {
    color: var(--secondary-clr-lt-blue);
    background-color: white;
}

.get-started-btn:hover~.register-options,
.register-options:hover {
    display: block;
}




@media screen and (max-width: 1024px) {
.main-nav{
    height: max-content;
}
    .get-started-btn,
    .register-options {
        display: none;
    }
    .nav-paths a{
        padding: 10px 0;
    }
}