.main-nav {
    background-color: var(--secondary-clr-drkst-blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 18px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.main-nav button {
    cursor: pointer;
}

.main-nav img {
    width: 120px;
}

.nav-paths {
    padding: 10px;
    /* background-color: red; */
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.nav-paths a {
    /* background-color: green; */
    margin: 0 15px;
    color: var(--neutral-clr-grey-2);
}



.nav-paths a:hover {
    color: white;
}


.get-started-btn {
    padding: 14px 40px;
    color: #fff;
    background-color: var(--secondary-clr-lt-blue);
    border: none;
    outline: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    font-family: inherit;
    transition: 0.2s ease;
}

.get-started-btn a {
    color: #fff;
}


.register-options {
    border-radius: 10px;
    position: absolute;
    background-color: var(--neutral-clr-white);
    right: -300%;
    top: 85px;
    transition: all 0.18s ease;
}

.register-options.show{
    right: calc(10% + 36px);
}

.nav-options {
    border-radius: 10px;
    position: absolute;
    background-color: var(--neutral-clr-white);
    right: -100%;
    top: 85px;
    transition: all 0.18s ease;
}


/* .get-started-btn:hover~.register-options,
.register-options:hover {
    position: absolute;
    display: block;
    top: 70px;
    right: calc(10% + 15px);
} */

.register-options ul,
.nav-options ul {
    list-style: none;
    padding-left: 0;
    padding: 1rem 1.5rem;
}

.register-options ul li,
.nav-options ul li {
    padding: 10px 0;
    border-bottom: 1px solid var(--neutral-clr-drk-grey);
}

.register-options ul li:first-child,
.nav-options ul li:first-child {
    padding-top: 0;
}

.register-options ul li:last-child,
.nav-options ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.register-options ul li a,
.nav-options ul li a {
    color: var(--neutral-clr-drker-grey);
    padding: 5px 0;
}

.register-options ul li a:hover,.nav-options ul li a:hover {
    color: var(--neutral-clr-grey-2);
}

.options-icon {
    display: none;
}




@media (max-width:1024px) {
    .options-icon {
        display: block;
    }

    .nav-paths>li,
    .nav-paths button {
        display: none;
    }


    .register-options.open {
        display: none;
    }

    .nav-options.open {
        display: block;
        right: 10%;
        top: 85px;
        /* display: none; */
    }
}