.container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.header {
  font-family: var(--Inter);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.formGroup,
.passwordFormGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup,
.passwordFormGroup label {
  font-family: var(--Inter);
  color: var(--primary-clr-drkst-brown);
  font-size: 1rem;
  font-weight: 400;
}

.formGroup input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--neutral-clr-grey-2);
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  padding: 0.5rem;
  font-family: var(--Inter);
  font-size: 1rem;
  font-weight: 400;
  color: var(--neutral-clr-drkst-grey);
}

.formGroup input:focus {
  outline: none;
  border: 1px solid var(--primary-clr-drkst-brown);
}

.passwordFormGroup .inputGroup {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--neutral-clr-grey-2);
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
    0px 0px 1px rgba(33, 37, 41, 0.08);
  padding: 0.5rem;
  font-family: var(--Inter);
  font-size: 1rem;
  font-weight: 400;
  color: var(--neutral-clr-drkst-grey);
}

.passwordFormGroup .inputGroup:focus-within {
  outline: none;
  border: 1px solid var(--primary-clr-drkst-brown);
}

.passwordFormGroup .inputGroup input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-family: var(--Inter);
  font-size: 1rem;
  font-weight: 400;
  color: var(--neutral-clr-drkst-grey);
}

.passwordFormGroup .inputGroup .showPasswordIcon {
  cursor: pointer;
}

.loginButton {
  margin-top: 1rem;
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-clr-lter-blue);
  color: var(--neutral-clr-white);
  font-family: var(--Inter);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.loginButton:hover {
  background-color: var(--secondary-clr-drkst-blue);
}

.loginButton:disabled {
  background-color: var(--neutral-clr-grey-2);
  cursor: not-allowed;
}

.forgotPassword {
  font-family: var(--Inter);
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--neutral-clr-drkst-grey);
  text-align: right;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive screens */

@media screen and (max-width: 600px) {
  .header {
    font-size: 1.5rem;
  }
}
