.container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--neutral-clr-drk-grey);
}

.name {
  font-weight: 500;
}

.mentor {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  background-color: var(--secondary-clr-ltest-blue);
  color: white;
  padding: 0.2rem 0.2rem;
  width: fit-content;
  border-radius: 4px;
}

.divider {
  background-color: var(--neutral-clr-drk-grey);
  height: 5px;
  width: 5px;
  border-radius: 100%;
}

.timeAnswered {
  font-size: 14px;
}

.content {
  color: var(--neutral-clr-deep-grey);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.votes {
    display: flex;
    justify-content: end;
    gap: 0.8rem;
    align-items: center;
}

.upvotes, .downvotes {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.upvotes {
    color: #0E8A1A;
}


.icon {
  cursor: pointer;
}

.bookmark, .edit {
  display: flex;
  align-items: center;
}

.editContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.editButtons {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 0.5rem;
}

.cancelButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
  background-color: var(--secondary-clr-ltester-blue);
  color: var(--secondary-clr-drk-blue);
  font-weight: 600;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.updateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
  background-color: var(--secondary-clr-lter-blue);
  color: var(--neutral-clr-white);
  font-weight: 600;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}