.AltstudentContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.Altstudentleft{
    flex: 1;
    
    width: 100%;
    height: 100%;
}
.Altstudentright{
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 2%;
}
.Altstudentimage{
    height: 100%;
    width: 100%;
    position: relative;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    /* background: #232552;  */
    /* background: rgb(35,37,82); */
    /* opacity: 0.7; */
    background: linear-gradient(200.44deg, rgba(35,37,82,0.7) 16.41%, rgba(35,37,82,0.5) 77.16%);
}
.Altstudentimage img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: -1; 
}
.Altstudentlogo{
   position: absolute;
   top: 40%;
   width: 50%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.Altstudentlogo img{
    margin-bottom: 20px;
}
.Altstudentparagraph{
    width: 370px;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
}
.Altstudentnav{
    width: 100%;
    height: 48px;
   
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    list-style-type: none;
}
.navigation-item{
    width: 50%;
    height: 100%;
    text-align: center;
}
.link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: black;
}
.link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgb(210, 208, 208);
    z-index: -1;
}
.active::after{
    background: black;
}