.AltstudentContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.AltstudentLeft{
    flex: 1;
    width: 100%;
    height: 100%;
}
.AltstudentRight{
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0 2%;
}
.AltstudentImage{
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(200.44deg, rgba(35,37,82,0.7) 16.41%, rgba(35,37,82,0.5) 77.16%);
}
.AltstudentImage img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: -1; 
}
.AltstudentLogo{
   position: absolute;
   top: 40%;
   width: 50%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.AltstudentLogo img{
    margin-bottom: 20px;
}
.AltstudentParagraph{
    width: 370px;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
}
.AltstudentNav{
    width: 100%;
    height: 48px;
   
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    list-style-type: none;
}
.navigationItem{
    width: 50%;
    height: 100%;
    text-align: center;
}
.link{
    font-family: var(--Inter);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    color: black;
    border-bottom: 3px solid var(--neutral-clr-lt-grey);
}
