@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* fonts variables */
  --Inter: 'Inter', sans-serif;
  --Poppins: 'Poppins', sans-serif;

  /* Color Variables (Using Figma Assets) */

  /* 585DCC this color is missing */

  /* Primary Colors */
  --primary-clr-black: #333130;
  --primary-clr-drkst-brown: #55524f;
  --primary-clr-drker-brown: #807b77;
  --primary-clr-drk-brown: #aaa49f;
  --primary-clr-lt-brown: #d4cdc6;
  --primary-clr-pink-1: #f7f2ed;
  --primary-clr-pink-2: #fff7f1;
  --primary-clr-pink-3: #fff9f4;
  --primary-clr-pink-4: #fffaf6;

  /* Neutral Colors */
  --neutral-clr-black: #000;
  --neutral-clr-white: #fff;

  --neutral-clr-deep-grey: #212529;
  --neutral-clr-drkst-grey: #343a40;
  --neutral-clr-drker-grey: #495057;
  --neutral-clr-drk-grey: #6c757d;
  --neutral-clr-grey-1: #adb5bd;
  --neutral-clr-grey-2: #ced4da;
  --neutral-clr-lt-grey: #dee2e6;
  --neutral-clr-lter-grey: #e9ecef;
  --neutral-clr-ltest-grey: #f8f9fa;

  /* Secondary Colors */
  --secondary-clr-deep-blue: #151631;
  --secondary-clr-drkst-blue: #232552;
  --secondary-clr-drkr-blue: #35377a;
  --secondary-clr-drk-blue: #474aa3;
  --secondary-clr-lt-blue: #585ccc;
  --secondary-clr-lter-blue: #6a6ff5;
  --secondary-clr-ltest-blue: #8387f7;
  --secondary-clr-ltester-blue: #f0f1fe;
  --secondary-clr-lt-purple: #9c9ff8;
  --secondary-clr-lter-purple: #cdcffc;
}

/* secondary-blue-100 #F0F1FE */
/* spacing between Benefit and items below */

body {
  /* padding-top: 80px; */
  font-family: var(--Inter);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b0b0;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
