@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* fonts variables */
  --Inter: 'Inter', sans-serif;
  --Poppins: 'Poppins', sans-serif;

  /* Color Variables (Using Figma Assets) */

  /* 585DCC this color is missing */

  /* Primary Colors */
  --primary-clr-black: #333130; /*900 */
  --primary-clr-drkst-brown: #55524f; /*800 */
  --primary-clr-drker-brown: #807b77; /*700 */
  --primary-clr-drk-brown: #aaa49f; /*600 */
  --primary-clr-lt-brown: #d4cdc6; /*500 */
  --primary-clr-pink-1: #f7f2ed; /*400 */
  --primary-clr-pink-2: #fff7f1; /* 300*/
  --primary-clr-pink-3: #fff9f4; /*200 */
  --primary-clr-pink-4: #fffaf6; /*100 */

  /* Neutral Colors */
  --neutral-clr-black: #000;
  --neutral-clr-white: #fff;

  --neutral-clr-deep-grey: #212529; /* 900 */
  --neutral-clr-drkst-grey: #343a40; /*800*/
  --neutral-clr-drker-grey: #495057; /*700*/
  --neutral-clr-drk-grey: #6c757d; /* 600 */
  --neutral-clr-grey-1: #adb5bd; /*500 */
  --neutral-clr-grey-2: #ced4da; /* 400*/
  --neutral-clr-lt-grey: #dee2e6; /*300 */
  --neutral-clr-lter-grey: #e9ecef; /*200 */
  --neutral-clr-ltest-grey: #f8f9fa; /*100 */

  /* Secondary Colors */
  --secondary-clr-deep-blue: #151631; /*900 */
  --secondary-clr-drkst-blue: #232552; /*800 */
  --secondary-clr-drkr-blue: #35377a; /*700 */
  --secondary-clr-drk-blue: #474aa3; /*600 */
  --secondary-clr-lt-blue: #585ccc; /*500 */
  --secondary-clr-lter-blue: #6a6ff5; /*400 */
  --secondary-clr-ltest-blue: #8387f7; /*300 */
  --secondary-clr-ltester-blue: #f0f1fe; /*200 */
  --secondary-clr-lt-purple: #9c9ff8; /*100 */
  --secondary-clr-lter-purple: #cdcffc; /*50 */
}

/* secondary-blue-100 #F0F1FE */
/* spacing between Benefit and items below */

body {
  /* padding-top: 80px; */
  font-family: var(--Inter);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b0b0;
}

html {
  scroll-behavior: smooth;
}

#pageCount input::-webkit-outer-spin-button,
#pageCount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* TAILWINDCSS COMPONENTS */

@layer components {
  /* CUSTOM CLASSNAME FOR FORM GROUPS e.g label and input elements sharing a parent element */
  .form-group {
    @apply flex flex-col gap-2;
  }

  /* CUSTOM CLASSNAME FOR LABEL ELEMENTS */
  .form-group label {
    @apply w-fit text-primary-800;
  }

  /* CUSTOM CLASSNAME FOR INPUT ELEMENTS */
  .input {
    @apply h-[2.5rem] w-full rounded-[4px] border-[1px] border-neutral-400 p-[0.5rem] font-normal text-neutral-800 shadow-[0px_2px_2px_rgba(33,37,41,0.06),0px_0px_1px_rgba(33,37,41,0.08)] focus:border-primary-800 focus:outline-none focus:ring-0;
  }

  /* CUSTOM CLASSNAME FOR PASSWORD GROUP i.e input element with eye icon */
  .password-group {
    @apply flex h-[2.5rem] w-full items-center gap-2 rounded-[4px] border-[1px] border-neutral-400 p-[0.5rem] font-normal text-neutral-800 shadow-[0px_2px_2px_rgba(33,37,41,0.06),0px_0px_1px_rgba(33,37,41,0.08)] focus-within:border-primary-800 focus-within:outline-none;
  }

  /* CUSTOM CLASSNAME FOR PASSWORD INPUT ELEMENT */
  .password-input {
    @apply h-full w-full border-none font-normal text-neutral-800 focus:outline-none focus:ring-0;
  }

  /* CUSTOM CLASSNAME FOR AUTH BUTTONS */
  .auth-btn {
    @apply mt-[1rem] h-[2.5rem] w-full rounded-[4px] bg-secondary-400 font-medium text-white hover:bg-secondary-800 focus:outline-none disabled:cursor-not-allowed disabled:bg-neutral-400;
  }

  /* CUSTOM CLASSNAMES FOR OTP INPUT COMPONENTS */
  .otp-input-container {
    @apply mb-[2rem] flex w-full justify-center gap-[2rem] xs:mb-0 xs:justify-between xs:gap-0;
  }

  .otp-input {
    @apply h-[3.5rem] !w-[5rem] rounded-[4px] border-[1px] border-neutral-400 p-[0.5rem] font-normal text-neutral-800 shadow-[0px_2px_2px_rgba(33,37,41,0.06),0px_0px_1px_rgba(33,37,41,0.08)] focus:border-primary-800 focus:outline-none focus:ring-0 xs:!w-[3.5rem];
  }

  .highlight {
    @apply animate-highlights rounded-md bg-neutral-400 p-2;
  }
}
