.tableBody {
  font-family: "Segoe UI", sans-serif;
  width: 100%;
  border: 1px solid #f3f3f9;
  margin-top: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.bodyHeader {
  padding: 0.875rem 1.438rem 0.875rem 1.438rem;
}

.bodyHeaderLeft {
  margin-bottom: 1.25rem;
}
.titleLink {
  
  width: fit-content;
}

.titleLink h3{
  color: #282829;
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 1.25rem;
  cursor: pointer;
}

.titleLink h3:hover{
  color: #2e69ff;
}

.tag {
  text-align: center;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  background-color: var(--primary-clr-pink-1);
  color: var(--neutral-clr-deep-grey);
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.tag:hover {
  background-color: var(--primary-clr-pink-2);
}

.posted {
  font-size: 0.715rem;
  line-height: 1.125rem;
  color: #939598;
  margin-bottom: 0.5rem;
}
.poster {
  font-weight: 700;
  margin-right: 0.813rem;
}

.dated {
  font-weight: 400;
}

.bottomIcons {
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
}

.buttonContainer {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.188rem;
  color: #636466;
}

.buttonContainer .numbers {
  font-size: 0.688rem;
  line-height: 1rem;
}

.bodyButton {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: #636466;
}

.cardLink {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.cardLink:hover {
  color: #2e69ff;
}

.bodyIcons {
  color: inherit;
  cursor: pointer;
}

.bodyIcons:hover {
  color: #2e69ff;}